* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

  

html {
  font-family: 'Rubik', sans-serif;
  background: rgb(0,34,0);
  background: linear-gradient(120deg, rgb(133, 135, 133) 0%, rgb(104, 106, 106) 36%, rgb(151, 151, 151) 100%);
}


body {

    font-family: sans-serif;
    color: rgb(39, 39, 37);
    background: linear-gradient(to right, #bab8aa 0%, #917543 100%);
    font-weight: 500;
    font-style: normal;
    text-align: center;
    width:90%;
    max-width: auto;
    min-height: 100vh;
    margin-top: 3em;    
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    align-items: center; 
}
img{

  width:60%;
  height:auto;
}

h1,h2{

  font-size: 2rem;
}


p{
  font-size: 1rem;
  color: rgb(53, 46, 26);
  align-items: center;
  text-align: center; 

}
    
header {
  background-color: #746a58;
  align-items: center;
  margin-bottom: 3em;
  padding: 1rem 1.5rem;
}
header a {
  text-decoration: none; 
  padding: 1em;
  }
 
header h1 {
  font-size: 1rem;
  color:black;
  text-align:right; 
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
 
  
 
} 
     
header h2 {
font-size:2rem;
color:rgb(41, 40, 39);
text-align: left;
font-weight: bold;
}


 nav ul {
  
display: flex;
flex-direction: row;
justify-content:center;
}
a {
  color: rgb(53, 46, 26);  
  }

  a:hover {
  color: #873131
  }

  div {
 
    color: wheat;
    font-size: 1rem;
  }
  
  div a {
    text-decoration: none;
  }
  
  form > div {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    text-align: center;
    align-items: center;
    
  }
  input {
    border: 1px solid #b9abab;
    border-radius: 0.3rem;
    padding: 0.45rem;
    font-size: 1rem;
  }
  input[type=submit], .button {
    
    padding: 0.5rem 3rem;
    border-radius: 0.3rem;
    background-color: #9a800e;
    color: #fff;
    font-weight: bold;
    min-width: 12rem;
    margin: 1rem auto;
  }

  .error {
    color: rgb(116, 23, 23);
    font-size: 0.8rem;
  }
  .info {
    background-color:none;
    border: 2px solid #555555;
    border-radius: 1rem;
    border-left:none;
    border-right: none;
    border-width: 40%;
    padding: 1rem;
    margin: 10,5,5,10rem;
    text-align: center;
  }
  
  .info a {
    color: #7b5c09;
   
  }
  input[type=submit], .button 
    .flexarea {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
    }
    .button {
      text-decoration: none;
      margin-top: 2em;
    }
    

  .tapahtumat > div {
   
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background : linear-gradient(to right, #3f3d2c 0%, #6a6e71 ,#a9a588 100%);
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 1em;
  }
  .tapahtumat > div > div:nth-child(3) {
    text-align: right;
    text-decoration: none;
  }
  .tapahtumat > div {
    display: flex;
    justify-content: space-between;
  }

  .teatterit div a {
    
    text-decoration: none;
  }

  footer {
    color:#cdb60b;
    font-size: 80%;
    text-align: center;  
    margin-top: 20em;
    margin-bottom: 10rem;     
    padding-bottom: 3rem;
    padding-top: 70rem;
  }
  
  footer hr {
    border: none;
    border-top: 1px dashed hsl(40, 92%, 20%);
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }